
* {
	margin: 0;
	padding: 0;
}

body { 
	background-color: lightgrey;
	font-family: Arial;
}

.page-header {
	width: 100%;
	text-align: left;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-color: orangered;
	display: grid;
	grid-template-columns: 2fr 1fr;
  	align-items: center;
	padding-left: 5rem;
	box-sizing: border-box;
}

.nav-div {
	padding-left: 10rem;
}

.nav-link {
	color: white;
	padding-left: 3rem;
	text-decoration: none;
}

#active-page {
	font-weight: bold;
}

h1 {
	color: white;
}

.search-filter-div {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	align-items: center;
}

.search-filter {
	background-color: white;
	text-align: center;
}

#equipment-filter, #customer-name-filter {
	padding: 0.3125rem;
}

#customers-info {
	width: 100%;
	padding: 1.25rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.25rem;
	row-gap: 1.25rem;
	box-sizing: border-box;
}

.customer-list {
	border-radius: 0.3125rem;
	background-color: white;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	list-style: none;
	text-align: center;
}

.customer-list-item {
	padding: 0.625rem;
	font-size: large;
}

#customer-dialog {
	padding: 1.875rem;
	text-align: center;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	border-radius: 0.3125rem;
}

#customer-dialog-info-div {
	padding: 1.25rem;
	text-align: justify;
}

#customer-dialog-purchase-list {
	padding-inline-start: 1.25rem;
}

#dialog-close-button {
	padding: 0.3125rem;
}