
* {
	margin: 0;
	padding: 0;
}

body { 
	background-color: lightgrey;
	font-family: Arial;
}

.pageHeader {
	width: 100%;
	text-align: left;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-color: orangered;
	display: inline-flex;
  	align-items: center;
}

.navLink {
	color: white;
	margin-right: 3rem;
	float: right;
	text-decoration: none;
}

#activePage {
	font-weight: bold;
}

h1 {
	color: white;
	padding-left: 5rem;
	padding-right: 80rem;
}

h3 {
	padding-left: 37rem;
	padding-top: 2rem;
}

.summaryBody {
	width: 100%;
	padding: 1.25rem;
	background-color: white;
	box-sizing: border-box;
}

.monthlySalesTable, .yearlySalesTable {
	border: 0.0625rem solid black;
	border-collapse: collapse;
	text-align: center;
	margin: 2rem auto;
}

th, td {
	border: 0.0625rem solid black;
	padding: 0.625rem;
}

.currentMonthHighlight {
	color: red;
 }